package:
  name: kernel
  version: 6.15.6
  epoch: 1
  description: The Linux kernel
  copyright:
    - license: GPL-2.0

environment:
  contents:
    packages:
      - binutils-dev
      - bison
      - build-base
      - busybox
      - diffutils
      - elfutils
      - elfutils-dev
      - findutils
      - flex
      - gawk
      - gnutar
      - kmod
      - libelf
      - llvm
      - openssl
      - xz
      - zstd

pipeline:
  - uses: git-checkout
    with:
      repository: https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
      tag: v${{package.version}}
      expected-commit: 1562d948232546cfad45a1beddc70fe0c7b34950

  - uses: autoconf/make
    with:
      opts: prepare

  - uses: autoconf/make
    with:
      opts: modules_prepare

  - environment:
      TMPDIR: /home/build/tmp
    uses: autoconf/make

subpackages:
  - name: kernel-core
    description: The Linux kernel
    pipeline:
      - runs: |
          kernel_version=$(make kernelversion)
          mkdir -p ${{targets.subpkgdir}}/usr/lib/${kernel_version}
          cp ./arch/${{build.arch}}/boot/bzImage ${{targets.subpkgdir}}/usr/lib/${kernel_version}/vmlinuz
          cp System.map ${{targets.subpkgdir}}/usr/lib/${kernel_version}/System.map
          cp .config ${{targets.subpkgdir}}/usr/lib/${kernel_version}/config
          mkdir -p ${{targets.subpkgdir}}/usr/lib

  - name: kernel-modules
    description: Kernel modules
    dependencies:
      runtime:
        - kernel-core
    pipeline:
      - uses: autoconf/make
        with:
          opts: modules_install INSTALL_MOD_PATH=${{targets.subpkgdir}}/usr

      - runs: |
          echo "Compressing kernel modules with xz..."
          find ${{targets.subpkgdir}}/usr/lib/modules/ -type f -name '*.ko' -print0 | xargs -0 -n1 -P$(nproc) xz -T1 --check=crc32 --lzma2=dict=1MiB

          echo "Verifying all modules are compressed..."
          if find ${{targets.subpkgdir}}/usr/lib/modules/ -type f -name '*.ko' | grep -q .; then
            echo "ERROR: Uncompressed .ko files remain!" >&2
            exit 1
          fi

  - name: kernel-headers
    description: Kernel headers
    dependencies:
      runtime:
        - kernel-core
    pipeline:
      - uses: autoconf/make
        with:
          opts: headers_install INSTALL_HDR_PATH=${{targets.subpkgdir}}

update:
  enabled: true
  ignore-regex-patterns:
    - ".*-rc.*"
  release-monitor:
    identifier: 358810

